[submodule "addons-custom/ak_workflow"]
	path = addons-custom/ak_workflow
	url = https://github.com/akardan/workflow.git
[submodule "addons-custom/ak_tender_mice"]
	path = addons-custom/ak_tender_mice
	url = https://github.com/akardan/tender_mice.git
[submodule "addons-custom/ak_tender"]
	path = addons-custom/ak_tender
	url = https://github.com/akardan/tender.git
[submodule "addons-custom/ak_rpt"]
	path = addons-custom/ak_rpt
	url = https://github.com/akardan/rpt.git
[submodule "addons-custom/ak_paytr"]
	path = addons-custom/ak_paytr
	url = https://github.com/akardan/paytr.git
[submodule "addons-custom/ak_exams"]
	path = addons-custom/ak_exams
	url = https://github.com/akardan/exams.git
[submodule "addons-custom/ak_ai"]
	path = addons-custom/ak_ai
	url = https://github.com/akardan/kai.git
	branch = 18.0
[submodule "addons-custom/ak_open_badges"]
	path = addons-custom/ak_open_badges
	url = https://github.com/akardan/open_badges.git
